mixin radio-buttons(radioOptions)

  label.custom-radio
    input(type='radio' name=radioOptions.name value=radioOptions.firstValue).reg__checkbox
    span= radioOptions.firstDescr
  label.custom-radio
    input(type='radio' name=radioOptions.name value=radioOptions.secondValue).reg__checkbox 
    span= radioOptions.secondDescr