mixin button(btnOptions)

  case btnOptions.btnStyle
    when "border"
      - var className= 'btn btn_border'
      - className += btnOptions.clsName ? btnOptions.clsName : ''
      button(class= className)
        .btn__container= btnOptions.name
    when "arrow"
      - var className= 'btn btn_arrow'
      - className += btnOptions.clsName ? btnOptions.clsName : ''
      button(
      class= 'btn btn_arrow'
      type= btnOptions.type
      )= btnOptions.name
    when "noBorder"
      button(class= 'no-border-btn')= btnOptions.name
    default
      - var className= 'btn'
      - className += btnOptions.clsName ? btnOptions.clsName : ''
      button(class= className)= btnOptions.name
      